# Load Dataset

dataframe (df) is the object where pandas stores the data, each colum is actualy a hash containing the name of the column a as a key and the array of values as the value for the key. In this example we are loding the iris.data which is a text file that has no headers. So we need to put the header by hand in the names parameter of the read_csv function.

In [377]:
import pandas as pd
import numpy as np

# columns has the name of each column.
columns = ["class","Alcohol","Malic Acid", "Ash", "Alcalinity of Ash","Magnesium","Total phenols","Flavanoids","Nonflavanoid Phenols","Proanthocyanins","Color Intensity","Hue","OD280/OD315 of diluted wines","Proline"]
df = pd.read_csv('../DataSets/wine.data',names = columns)
df.head()

,class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

you can access the attributes of the dataframe object, for example this is the attribute columns, which has the names of each column in the dataframe.

In [378]:
df.columns

Index(['class', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash',
       'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid Phenols',
       'Proanthocyanins', 'Color Intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

You can access a single column as you would a dictionary

In [379]:
df["Magnesium"]

0      127
1      100
2      101
3      113
4      118
      ...
173     95
174    102
175    120
176    120
177     96
Name: Magnesium, Length: 178, dtype: int64

you can also get many columns, by providing a list of column names

In [380]:
df[ ["Magnesium","Color Intensity"] ].head()  # head() returns the first five elements

   Magnesium  Color Intensity
0        127             5.64
1        100             4.38
2        101             5.68
3        113             7.80
4        118             4.32

This is how you would separate a data frame into training attributes (predictors, or x) and the target value (class, or y).

In [381]:
df_x = df[["Alcohol","Malic Acid", "Ash", "Alcalinity of Ash","Magnesium","Total phenols","Flavanoids","Nonflavanoid Phenols","Proanthocyanins","Color Intensity","Hue","OD280/OD315 of diluted wines","Proline"]]
df_y = df[["class"]]

In [382]:
df_x

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [383]:
df_y

     class
0        1
1        1
2        1
3        1
4        1
..     ...
173      3
174      3
175      3
176      3
177      3

[178 rows x 1 columns]

Each column of a dataframe is defined a Series object, these objects are built on top of and are very similar to numpy arrays. You can even convert them directly using to_numpy()

In [384]:
print( type(df_x["Magnesium"]))

array = df_x["Magnesium"].to_numpy()

print(type(array))

print(array)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
[127 100 101 113 118 112  96 121  97  98 105  95  89  91 102 112 120 115
 108 116 126 102 101  95  96 124  93  94 107  96 101 106 104 132 110 100
 110  98  98 128 117  90 101 103 107 111 102 101 103 108  92  94 111 115
 118 116 118 102 108  88 101 100  94  87 104  98  78  78 110 151 103  86
  87 139 101  97  86 112 136 101  86  86  78  85  94  99  90  88  84  70
  81  86  80  88  98 162 134  85  88  88  97  88  98  86  85  90  80  84
  92  94 107  88 103  88  84  85  86 108  80  87  96 119 102  86  82  85
  86  92  88  80 122 104  98 106  85  94  89  96  88 101  96  89  97  92
 112 102  80  86  92 113 123 112 116  98 103  93  89  97  98  89  88 107
 106 106  90  88 111  88 105 112  96  86  91  95 102 120 120  96]

you can also make new columns with indicators, since dataframes are based on numpy arrays, you can use the numpy operations across full arrays and you can also slice them.

In [385]:
df_x["Color Hue Ratio"] = df_x["Color Intensity"]/df_x["Hue"]
df_x["Alcohol Color Ratio"] = df_x["Alcohol"]/df_x["Color Intensity"]
df_x.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline,Color Hue Ratio,Alcohol Color Ratio
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,5.423077,2.523050
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,4.171429,3.013699
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,5.514563,2.316901
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,9.069767,1.842308
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,4.153846,3.064815

In [386]:
df_x["Alcohol Color Ratio"][3:10] # slice from instance 3 to intance 10

3    1.842308
4    3.064815
5    2.103704
6    2.740952
7    2.784158
8    2.851923
9    1.919668
Name: Alcohol Color Ratio, dtype: float64

### Practice Pandas Loading Data sets.

Open and load the wine data set "wine.data" , it is in the same folder as the iris data set.

Check the names stored in the "wine.names" file to know how to name each column.

In [387]:
# Specify the names in an list

# Open the file and create the data frame
# columns has the name of each column.
columns = ["class","Alcohol","Malic Acid", "Ash", "Alcalinity of Ash","Magnesium","Total phenols","Flavanoids","Nonflavanoid Phenols","Proanthocyanins","Color Intensity","Hue","OD280/OD315 of diluted wines","Proline"]
df = pd.read_csv('../DataSets/wine.data',names = columns)
df.head()

,class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

Separate the data set into df_x and df_y remeber that the class should be in df_y and everything else in df_x.

print the first five elements of df_x and df_y to check that they are correct.

In [388]:
# Separate into df_x and df_y
df_x = df[["Alcohol","Malic Acid", "Ash", "Alcalinity of Ash","Magnesium","Total phenols","Flavanoids","Nonflavanoid Phenols","Proanthocyanins","Color Intensity","Hue","OD280/OD315 of diluted wines","Proline"]]
df_y = df[["class"]]

# Print df_x first 5
df_x.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [389]:
# Print df_y first 5
df_y.head()

   class
0      1
1      1
2      1
3      1
4      1

Create a new column with a ratio of two attribute, i.e. find to attributes that might have some relation and divide one over the other and store as an extra column in df_x

In [390]:
# Create new column
df_x["Alcohol Color Ratio"] = df_x["Alcohol"]/df_x["Color Intensity"]
# Print df_x first 5
df_x.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol Color Ratio
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,2.523050
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,3.013699
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,2.316901
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1.842308
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,3.064815

separate both  df_x and  df_y into train and test, so that df_train_x and  df_train_y have the first 100 lines and  df_test_x and  df_test_y have the last 50 lines

In [391]:
# use slices to split df_x and df_y
df_train_x = df_x[0:100]
df_train_y = df_y[0:100]

df_test_x = df_x[-50:]
df_test_y = df_y[-50:]

Load and split a data set

1.  Load a data set into a new padas data frame
2.  Shuffle the rows of the data set
3.  Separate the Data set into train (80%) and test (20%)
4.  Separate the train into x and y separate test into x and y

In [392]:
# print the head() of train_x, train_y and test_x, test_y
new_df = pd.DataFrame(df)
new_df_shuffled = new_df.sample(frac=1.0)
new_df_shuffled

,class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
136,3,12.25,4.72,2.54,21.0,89,1.38,0.47,0.53,0.80,3.85,0.750,1.27,720
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.030,3.17,1185
49,1,13.94,1.73,2.27,17.4,108,2.88,3.54,0.32,2.08,8.90,1.120,3.10,1260
170,3,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.50,0.660,1.83,510
70,2,12.29,1.61,2.21,20.4,103,1.10,1.02,0.37,1.46,3.05,0.906,1.82,870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2,12.00,1.51,2.42,22.0,86,1.45,1.25,0.50,1.63,3.60,1.050,2.65,450
34,1,13.51,1.80,2.65,19.0,110,2.35,2.53,0.29,1.54,4.20,1.100,2.87,1095
51,1,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.60,1.240,3.37,1265
113,2,11.41,0.74,2.50,21.0,88,2.48,2.01,0.42,1.44,3.08,1.100,2.31,434
137,3,12.53,5.51,2.64,25.0,96,1.79,0.60,0.63,1.10,5.00,0.820,1.69,515

# Cleaing Data

The following part is based in this example from kaggle [Sample solution](https://www.kaggle.com/code/guecoraph/titanic-data-cleaning-model-fitting), try to follow this example first and then try to apply it to the titanic data set on your own.

check for data types

In [393]:
columns = ["sepal length","sepal width","petal length","petal width", "class"]
df = pd.read_csv('../DataSets/iris.data',names = columns)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

check for outliers values too big or to small in a specific atribute

In [394]:
df[df['sepal width'] > 3.0]

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[67 rows x 5 columns]

check to see if there are eny na (empty values)

In [395]:
#Check for na's
df.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

if there are some na values, you can impute them by using the mean

In [396]:
df['sepal width'].mean()

3.0540000000000003

or you can choose to drop the entire column

In [397]:
df_sepalless = df.drop(['sepal width'], axis=1)
df_sepalless

     sepal length  petal length  petal width           class
0             5.1           1.4          0.2     Iris-setosa
1             4.9           1.4          0.2     Iris-setosa
2             4.7           1.3          0.2     Iris-setosa
3             4.6           1.5          0.2     Iris-setosa
4             5.0           1.4          0.2     Iris-setosa
..            ...           ...          ...             ...
145           6.7           5.2          2.3  Iris-virginica
146           6.3           5.0          1.9  Iris-virginica
147           6.5           5.2          2.0  Iris-virginica
148           6.2           5.4          2.3  Iris-virginica
149           5.9           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

or you might wish to drop just the rows where you find a specific value. To do this you do not use drop, instead you select the data you wish to keep uding "loc"


*  loc is primarily label based indexing. Integers may be used but they are interpreted as a label.
*  iloc is primarily integer based indexing

In [398]:
# loc by ocurrence
# df.loc[df["column"] != 0] to keep non zeros

df_spw_35 = df.loc[df["sepal width"] == 3.5]
df_spw_35

    sepal length  sepal width  petal length  petal width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa

In [399]:
df.loc[(df["petal width"] > 2.0) & (df["petal length"] > 6.4)]

     sepal length  sepal width  petal length  petal width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

In [400]:
# iloc traditional sliing

df.iloc[10:20, 2:4]

    petal length  petal width
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1
13           1.1          0.1
14           1.2          0.2
15           1.5          0.4
16           1.3          0.4
17           1.4          0.3
18           1.7          0.3
19           1.5          0.3

## Practice Cleaning data set

Download and open the titanic date set from kaggle.  [Titanic](https://www.kaggle.com/c/titanic)

Load it into a pandas dataframe

In [401]:
# load titanic
df_gender = pd.read_csv('../DataSets/titanic/gender_submission.csv')
df_test = pd.read_csv('../DataSets/titanic/test.csv')
df_train = pd.read_csv('../DataSets/titanic/train.csv')

check the format of each of the columns to verify correct data type

In [402]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

identify which attributes should be x and which shold be y.
Then check the general statistics of each column.  min max mean null values etc...

In [403]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

decide which varaibles x or columns should stay and which should go based on the relevance of the problem.

In [404]:
df = df_train.copy()
df = df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

analyze the data for outliers or wierd values, if any are found decide based on the domain or the documentarion if the instance should be eliminated or the value imputed

In [405]:
print("SUMA DE NULOS DE VALORES NULOS: \n\n", df.isna().sum())

SUMA DE NULOS DE VALORES NULOS:

 Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

clean empty values, decide wether to impute them or drop them based on the specific cases.

In [406]:
# Edades que son nulas, las cambiamos por la media
age_mean = df['Age'].mean()
df['Age'] = df['Age'].replace(np.nan, round(age_mean, 0)) 

print("\nBORRAMOS TAMBIEN LA COLUMNA DE CABIN PORQUE TIENE MUCHOS NULOS") 
df = df.drop('Cabin', axis=1)
df

BORRAMOS TAMBIEN LA COLUMNA DE CABIN PORQUE TIENE MUCHOS NULOS

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  30.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [407]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [412]:
df['Embarked'] = df['Embarked'].replace(np.nan, 'S')

In [413]:
# Verificamos si hay columnas con datos nulos
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

separate your data set into train and test

perform transformations or data scaling (encondings, log, exp, max min, std, etc...)  if you dont know how to do this, then come back to this notebook after we see the topic.